.nav{
    background-color: var(--bg-containers);
    border-radius: .5rem;
    padding: .2rem;
}

.nav__content{
    display: flex;
    justify-content: space-around;
}

.nav__button{
    color: var(--font-primary);
}

.nav__button i.menu{
    font-size: 30px;
    border: 1px solid var(--font-primary);
    border-radius: 10px;
}

.menu__list{
    list-style: none;
    display: none;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    margin: 0;
}

.menu__item{
    width: max-content;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    transition: color .125s ease-in-out;
}

.menu__item:hover{
    color: var(--font-seconday);
}

@media screen and (min-width: 768px) {
    .nav__content{
        display: none;
    }

    .menu__list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
    }
}