@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Merriweather+Sans:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Geologica', sans-serif;
    color: rgba(255,255,255,0.8);
}

:root{
    --bg-color: #1b1a1f;
    --bg-containers:  #39295f56;
    --bg-input: #573d9038; 
    --bg-input-border: #ffffff2f;
    --button: #1fc8d486;
    --button-hover: #11585d7c;
    --box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

input{
    color: black;
    padding: 0.5em;
    border: 1px solid;
    border-radius: 5px;
}

.material-icons{
    color: var(--button);
    background: none;
    border: none;
}

.general_button{
    cursor: pointer;
    width: max-content;
    padding: 0.7em;
    border: 1px solid var(--bg-input-border);
    border-radius: 5px;
    background-color: var(--button);
    transition: background 0.5s ease-in-out;
}

.general_button:disabled, #add_chain:disabled{
    opacity: 0.6; /* Reduce la opacidad para simular estado desactivado */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" */
    pointer-events: none; /* Evita que se pueda hacer clic o interactuar con el botón */
}

.general_button:hover{
    background-color: var(--button-hover);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input{
    border: none;
}

body{
    background-color: var(--bg-color);
}

button, a{
    cursor: pointer;
}

.header{
    padding: 0 2em 0em 2em;
}

.tittle_container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;
    background-color: var(--bg-containers);
    border-radius: 0 0 10px 10px;
    box-shadow: var(--box-shadow);
}

.tittle_container p{
    color: var(--button);
}

.blockchain_data_container{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 1em;
    padding: 1em 0 0 0;
}

.blockchain_status_buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 5px;
    background-color: var(--bg-containers);
    border-radius: 10px;
    box-shadow: var(--box-shadow);

}

.connect_add_buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.connect_buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
}

#metamask_button, #disconnect_button{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#metamask_button img , #disconnect_button img{
    height: 30px;
    width: 30px;
}

#disconnect_button{
    display: none;
}

#connect_info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-size: 16px;
    width: 80%; 
}

#connect_info p, #connect_info i{
    color: #db9a04;
}

#account_data_container{
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 0.5em;
    gap: 1em;
}

.wallet_data, .balance_data{
    border: 1px solid var(--bg-input-border);    
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0.5em;
    gap: 0.5em;
    position: relative;
    background-color: var(--bg-input);
}

.wallet_data .material-icons, .balance_data .material-icons{

    border: 2px solid var(--button);
    border-radius: 50%;
    padding: 0.2em;
}

#get_tokens{
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
    padding-top: 0.5em;
    word-wrap: break-word;
}

#get_tokens h3{
    color: #db9a04;
}

#get_tokens a{
    text-decoration: none;
    color: #db9a04;
}

#get_tokens i{
    color: #db9a04;
}

/* END WALLETS END WALLETS END WALLETS */

/* BLOCKCHAIN DATA BLOCKCHAIN DATA */
.blockchain_data{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: var(--bg-containers);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.connect_chain{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    font-size: 16px;

}

#current_blockchain{
    text-align: center;
    color: #db9a04;
    /* background-color: rgba(219,154,4,.1); */
    padding: 0.5em;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

#current_blockchain.active{
    color: #00c9a7;
    /* background-color: rgba(0,201,167,.1); */
}

#add_chain{
    display: none;
    align-items: center;
    gap: 5px;
    width: max-content;
    padding: 0.5em;
    border: 1px solid var(--bg-input-border);
    border-radius: 5px;
    background-color: var(--button);
    transition: background 0.3s ease-in-out;
}

#add_chain:hover{
    background-color: var(--button-hover)
}

#add_chain img{
    width: 30px;
    height: 30px;
}

.bc_container_data{
    display: flex;
    gap: 0.5em;
    align-items: center;
    position: relative;
    padding: 0.5em;
    background-color: var(--bg-input);
    border-radius: 10px;
}

#copy_miner, #copy_hash, #copy_wallet{
    /* display: none; */
    position: absolute; 
    right: 5px;
    font-size: 18px;
    transition: font-size 0.2s ease-in-out;
    border: 1px solid black;
    background: none;
    border: none;
}

#copy_miner:hover, #copy_hash:hover, #copy_wallet:hover{
    font-size: 20px;
}

#copied_miner , #copied_hash, #copied_wallet{
    display: none;
    position: absolute;
    right: 0;
    bottom: -15px;
    color: #00c9a7;
    background-color: rgba(0,201,167,.1);
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}

#copied_miner.active , #copied_hash.active, #copied_wallet.active{
    display: block;
    transition: all 0.5s;
}

/* END BLOCKCHAIN DATA END BLOCKCHAIN DATA */

.main{
    display: grid;
    gap: 1em;
    padding: 1em 2em 2em 2em;
}

/* TRANSACTIONS TRANSACTIONS*/
.transactions_container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: var(--bg-containers);
    border-radius: 10px;
    height: max-content;
    box-shadow: var(--box-shadow);

}

.transactions_title{
    text-align: center;
    background-color: var(--bg-input);
    padding: 1em;
    border-radius: 10px;
}

.transactions_content{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.transactions_content h4{
    /* text-align: center; */
}

.transaction_result_container{
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
    border-top: 1px solid gray;
}

.status_container{
    display: flex;
    justify-content: center;
}

#transaction_status{
    display: none;
    width: max-content;
    padding: 0.4rem 0.7rem;
    border-radius: 0.35rem;
    color: #db9a04;
    background-color: rgba(219,154,4,.1);
    transition: all 0.5s ease-in-out;
}

#transaction_status.success{
    color: #00c9a7;
    background-color: rgba(0,201,167,.1);
}

/* END TRANSACTIONS END TRANSACTIONS*/


/* SIGNS SIGNS SIGNS SIGNS */
.signs_container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: var(--bg-containers);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.sings_title{
    text-align: center;
    background-color: var(--bg-input);
    padding: 1em;
    border-radius: 10px;
}

.sign{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#content_sign_hash{
    display: none;
    justify-content: space-between;
    align-items: center;
}

.sign_verify_container{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-top: 1px solid gray;
    padding-top: 5px;
}

#content_verify_sign{
    display: none;
    justify-content: center;
    align-items: center;
}

#verify_sign{
    padding: 0.5em;
    border-radius: 10px;
}

#verify_sign.valid{
    color: #00c9a7;
    background-color: rgba(0,201,167,.1);
}

#verify_sign.invalid{
    color: #c90000;
    background-color: rgba(201, 0, 0, 0.1);
}


/* END SIGNS END SIGNS END SIGNS END SIGNS */

/* CREATE WALLET CREATE WALLET CREATE WALLET */
.create_wallets{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: var(--bg-containers);
    border-radius: 10px ;
    height: max-content;
    box-shadow: var(--box-shadow);
}

.create_Wallets_title{
    background-color: var(--bg-input);
    padding: 1em;
    border-radius: 10px;
}

.create_button_container{
    display: flex;
    justify-content: center;
}

#wallets_created{
    display: none;
    flex-direction: column;
    gap: 1em;
}

.keys_container{
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.keys_container p{
    padding: 0.5em;
    background-color: var(--bg-input);
    border-radius: 10px;
}

.key_content{
    display: flex;
    gap: 0.3em  ;
}

/* END CREATE WALLET END CREATE WALLET */

/* TRANSACTIONS TABLE TRANSACTIONS TABLE */
.api_txcontainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: var(--bg-containers);
    border-radius: 10px ;
    height: max-content;
    box-shadow: var(--box-shadow);
    overflow-x: scroll;
}


.gridjs-tbody, td.gridjs-td{
    background: transparent;
}

.gridjs-td span{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 0.5em;
}

.gridjs-pagination .gridjs-pages button, .gridjs-pagination .gridjs-pages button.gridjs-spread, .gridjs-pagination .gridjs-pages button.gridjs-currentPage{
    background-color: #0000;
}

th.gridjs-th{
    border: none;
}

td.gridjs-td{
    border: none;
}

.gridjs-tr i{
    display: flex;
    font-size: 18px;
    color: red;
}

.toSelf{
    color: #626c76;
    background-color: #3e444a;
    padding: 0.3em;
    border-radius: 10px;
    width: 45px;
}

.toIn{
    color: #02977e;
    background-color: #005d4d;
    padding: 0.3em;
    border-radius: 10px;
    width: 45px;
    justify-content: center;
}

.toOut{
    color: #b47d00;
    background-color: #6f4f03;
    padding: 0.3em;
    border-radius: 10px;
    width: 45px;
}


/* END TRANSACTIONS TABLE END TRANSACTION TABLE */

.footer{
    background-color: var(--bg-containers);
    padding: 2em;
}

.footer h4{
    text-align: center;
}

@media screen and (max-width: 359px) {

    .connect_add_buttons{
        flex-direction: column;
    }

    .wallet_data, .balance_data{
        flex-direction: column;
    }

    .blockchain_data div{
        flex-direction: column;
    }

    .keys_container{
        flex-direction: column;
    }
}

@media screen and (min-width: 770px) {

    .blockchain_data_container{
        flex-direction: row;
        justify-content: center;
    }

    .blockchain_data{
        flex-basis: 50%;
    }

    .blockchain_status_buttons{
        flex-basis: 50%;
        height: max-content;
    }

    .main{
        grid-template-columns: repeat(3, 1fr);
    }

    .api_txcontainer{
        grid-column: span 3;
    }

}

@media screen and (min-width: 992px) {
    .blockchain_data{
        flex-basis: 40%;
    }

    .blockchain_status_buttons{
        flex-basis: 40%;
    }

    .main{
        padding-left: 5em;
        padding-right: 5em;
    }
}


.loader{
    border: 16px solid #f3f3f3;
    border-top: 16px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#error_chain_modal{
    position: fixed;
    z-index: 999;
    right: 0;
    top: 5em;
    padding: 1em;
    background-color: var(--button);
    border-radius: 10px 0 0 10px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.error_content{
    display: flex;
    gap: 0.5em;
}

.error_content div{
    color:#db9a04;
}

#error_chain_modal.active{
    transform: translateX(0);
}